<h1>Schedule</h1>

<a href="/index"> index page</a>
<%= link_to('index',{:controller => 'demo', :action => 'index'}) %>

<!-- created a table to display the courses from the database-->
<table>
  <tr>
    <th>Course Number</th>
    <th>Course Name</th>
    <th>Course Time</th>
    <th>Course Location</th>    
  </tr>
  <% @courses .each do |course| %>
  <tr>
    <td><%= course.course_number %></td>
    <td><%= course.name %></td>
    <td><%= course.time %></td>
    <td><%= course.location %></td>
  </tr>
  <%end%>
</table>